
// . {
//   display: flex;
//   min-height: 100vh;
//   flex-direction: column;
// }

// .section {
//   flex: 1;
// }
/* varilabel */
$yellowcolor: #ecb60e;
$fontfamily: 'Oswald', sans-serif !important;
$fontfamily_p: 'Poppins', sans-serif  !important;
/* body */ 
body 
{
  font-family: $fontfamily;
}
p 
{
  font-family: $fontfamily_p;
}
/* common start */

.button.is-info.is-outlined {
  background-color: transparent !important;
  border-color: #ccccd0 !important;
  color: #484848 !important;
  // border-radius: 20px !important;
  // font-size: 14px;
  padding: 20px 24px;
}
.button.is-info.is-outlined:hover{
  background-color: $yellowcolor !important;
  border-color: $yellowcolor !important;
  color: #fff !important;
  // border-radius: 20px !important;
  // font-size: 14px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* common end */
/* footer */
.footer {
    background-color: #fafafa;
    padding: 0 !important;
}
/* logo */ 
// .logo_size 
// {
//       height: 135px;
//     width: 135px;
// }
/* menu */

.hero .navbar { 
  background-color: #222533 !important;
}
a.has-text-white:hover, a.has-text-white:focus {
  color: $yellowcolor !important;
}
.navbar-link:not(.is-arrowless)::after {
  border-color: #fff !important;
}
@media screen and (min-width: 1088px)
{
.navbar-dropdown {
  top: 60% !important;
}
}
.navbar-item img {
    // max-height: 10rem !important;
    max-height: 5rem !important;
}
.navbar-item a 
{
  font-size: 1em;
}
@media screen and (min-width: 1088px)
{
.navbar-start {
    margin-left: auto;
}
}
#app {
  font-family: $fontfamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
/* home start */
.text_line_side 
{
  position: relative;
    display: inline-block;
    margin-bottom: 35px;

}
.text_line_side:after {
  position: absolute;
  content: '';
  width: 50px;
  height: 2px;
  background-color: $yellowcolor;
  right: -60px;
  top: 11px;
}
.about_block 
{
  background-image: url(assets/images/left_home_block1.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.hom_block_one_section {
  position: relative;
  z-index: 1;
}
.hom_block_one_section:after {
  content: "";
  position: absolute;
  top: 10%;
  right: 270px;
  width: 1000%;
  height: 80%;
  z-index: -1;
  background-image: url(assets/images/bg7.png);
  background-color: $yellowcolor;
}
.home_block_one_content 
{
margin-bottom: 2%;
}
.home_block_one_content p 
{
  line-height: 26px;
  margin-bottom: 24px;
font-size: 14px;
margin-top: 12px;
}
.home_block_one_content h1
{
color: $yellowcolor;
}
.home_block_two_content h1 
{
  color: $yellowcolor;
}
.home_block_item .fas {
  border-radius: 100%;
  box-shadow: 0 0 0 10px #ffcb0f, 0 0 0 20px #fadb64, 0 0 0 30px #f7e59c;
  padding: 18px;
  font-size: 30px;
  margin-top: 25px;
}
.home_block_item p 
{
  font-size: 12px;
}
.home_block_item >h4 {
  font-size: 15px;
  margin: 5px 0 20px;
}
.content h6 {
    margin-top: 1rem;
    font-weight: 500 !important;
    font-family: $fontfamily;
    text-transform: uppercase;
}
.card-content 
{
  padding: 20px 15px !important;
}
.card
{

  box-shadow: 4px 10px 24px rgba(134, 134, 134, 0.1), 0 0 0 2px rgba(10, 10, 10, 0.1) !important;
}
/* hover border start */
/*====Box hover border=======*/

.hover-border-outer {
	position: relative;
	z-index: 1;
	height:100%;
	display:block;
}

.hover-border-outer::before,
.hover-border-outer::after {
	box-sizing: inherit;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	display:black;
}

.hover-border {
	transition: color 0.25s;
}

.hover-border::before,
.hover-border::after {
	border: 2px solid transparent;
	width: 0;
	height: 0;
}

.hover-border::before {
	top: 0;
	left: 0;
}

.hover-border::after {
	bottom: 0;
	right: 0;
}

.hover-border:hover::before,
.hover-border:hover::after {
	width: 100%;
	height: 100%;
	display:block;
}

.hover-border:hover::before {
	border-top-color: $yellowcolor;
	border-right-color: $yellowcolor;
	transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.hover-border:hover::after {
	border-bottom-color: $yellowcolor;
	border-left-color: $yellowcolor;
	transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

/* hover border end */
.home_block_two_content .column .card 
{
  height: 275px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
/* third block start */
.video-section {
  position: relative;
  z-index: 1;
  margin-right: 31px;
}
.video-section  img {
  border-style: none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.video-section:after {
  position: absolute;
  z-index: -1;
  content: '';
  right: -31px;
  top: -10%;
  background-color: $yellowcolor;
  width: 50%;
  height: 120%;
}
.play-now {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  border-radius: 50%;
  z-index: 10;
  width: 60px;
  height: 60px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  transform-origin: center center;
}
.play-now .icon {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 65px;
  width: 65px;
  text-align: center;
  line-height: 65px;
  background-color: #ffffff;
  color: #333333;
  z-index: 1;
  font-size: 20px;
  display: block;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform-origin: center;
  transform-origin: center center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 10px 0 rgba(255, 255, 255, .1);
  -moz-box-shadow: 0 5px 10px 0 rgba(255, 255, 255, .1);
  -ms-box-shadow: 0 5px 10px 0 rgba(255, 255, 255, .1);
  -o-box-shadow: 0 5px 10px 0 rgba(255, 255, 255, .1);
  box-shadow: 0 5px 10px 0 rgba(255, 255, 255, .1);
}
.play-now .ripple, .play-now .ripple:before, .play-now .ripple:after {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 65px;
  width: 65px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform-origin: center;
  transform-origin: center center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .3);
  -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, .3);
  -ms-box-shadow: 0 0 0 0 rgba(255, 255, 255, .3);
  -o-box-shadow: 0 0 0 0 rgba(255, 255, 255, .3);
  box-shadow: 0 0 0 0 rgba(255, 255, 255, .3);
  -webkit-animation: ripple 3s infinite;
  -moz-animation: ripple 3s infinite;
  -ms-animation: ripple 3s infinite;
  -o-animation: ripple 3s infinite;
  animation: ripple 3s infinite;
}
.play-now .ripple:before {
  -webkit-animation-delay: .9s;
  -moz-animation-delay: .9s;
  -ms-animation-delay: .9s;
  -o-animation-delay: .9s;
  animation-delay: .9s;
  content: "";
  position: absolute;
}
.play-now .ripple:after {
  -webkit-animation-delay: .6s;
  -moz-animation-delay: .6s;
  -ms-animation-delay: .6s;
  -o-animation-delay: .6s;
  animation-delay: .6s;
  content: "";
  position: absolute;
}
@-webkit-keyframes ripple {
  70% {box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);}
  100% {box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);}
}

@keyframes ripple {
  70% {box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);}
  100% {box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);}
}

/* third blokc end */
/* home end */
/* contact us  start */
.contactus 
{
  background-image: url(assets/images/contact.jpg);
  background-position: 50% -14.5px;
  height: 350px;
    background-size: cover;
    display: table;
    width: 100%;
}
// .contactus 
// {
// background-image: url(/img/background-1932466_1920-320x212.jpg);
// background-size: cover;
// content: "";
// display: block;
// position: absolute;
// top: 0;
// left: 0;
// width: 100%;
// height: 100%;
// z-index: -2;
// opacity: 0.4;
// }
.contactus  {
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), 
  url("assets/images/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 230px;
  padding-top: 0px;
}
.contact_info {
  position: relative;
  z-index: 1;
}
.contact_form 
{
  margin-top: 5%;
}
.contact_info h1
{
  margin-bottom: 5%;
}
.contact_info:after {
  content: "";
  position: absolute;
  top: 10%;
  left: 270px;
  width: 1000%;
  height: 110%;
  z-index: -1;
  background-image: url(/img/bg7.ca630f9f.png);
  background-color: #ecb60e;
}
.contact_info .has-background-black
{
  padding: 60px;
}
.subpage_block_entry 
{
  margin-top: 5%;
}
/* contact us end */
/* services start */
.our_service 
{

    line-height: 26px;
    margin-bottom: 24px;
    font-size: 14px;
    margin-top: 12px;
}
/* services end */
